.card{
    flex-basis: 300px;
    box-shadow: 0 0 6px 2px silver;
    margin: 20px;
    padding: 20px 20px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card img{
    width: 300px;
}
.card p{
    margin-bottom: 30px;
}
.card-action a{
    background: #FF7700;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px 12px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
}
.card-action{
    margin-top: 20px;
}